pyrogram
tgcrypto
aiohttp==3.7.4
requests
bs4
tgcrypto
pyshorteners
#doodstream
unshortenit
Dnspython
pyromod
umongo==2.3.0
motor==2.3.0
pytz
psutil
dnspython
NumPy
tgcrypto
Pillow
glitch_this
datetime
aiohttp
python-magic
aiofiles
requests
